anyio==4.13.0
ast_serialize==0.5.0
black==26.5.1
cairocffi==1.7.1
CairoSVG==2.9.0
certifi==2026.5.20
cffi==2.0.0
cfgv==3.5.0
click==8.4.1
colorama==0.4.6
comtypes==1.4.16
coverage==7.14.0
cssselect2==0.9.0
defusedxml==0.7.1
distlib==0.4.0
filelock==3.29.0
flatbuffers==25.12.19
git-filter-repo==2.47.0
identify==2.6.19
idna==3.16
iniconfig==2.3.0
librt==0.11.0
mypy==2.1.0
mypy_extensions==1.1.0
nodeenv==1.10.0
numpy==2.4.6
packaging==26.2
pathspec==1.1.1
pathvalidate==3.3.1
pillow==12.2.0
pipenv==2026.6.1
platformdirs==4.10.0
pluggy==1.6.0
pre_commit==4.6.0
protobuf==7.35.0
pycparser==3.0
pygame==2.6.1
pygame-menu==4.5.2
Pygments==2.20.0
pyperclip==1.11.0
pypiwin32==223
pytest==9.0.3
pytest-cov==7.1.0
python-discovery==1.3.1
python-dotenv==1.2.2
pytokens==0.4.1
pyttsx3==2.99
pywin32==311
PyYAML==6.0.3
ruff==0.15.14
sentry-sdk==2.60.0
setuptools==82.0.1
tinycss2==1.5.1
typing_extensions==4.15.0
-e git+https://github.com/josephgiardello-cloud/UptaCamp.git@569bede5077de18c8b9aa11db73b055339419530#egg=uptacamp
urllib3==2.7.0
virtualenv==21.3.3
watchfiles==1.2.0
webencodings==0.5.1
websockets==16.0
